//CSS for product partners section

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
    margin-top: 80px;
	background: white;
	// box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 150px;
	margin:  auto;
	
	overflow:hidden;
	position: relative;
	// width: 960px;
    max-width: 1555px;
	padding: 2em;
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: -1;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(350px * 12);
	}
	
	.slide {
		height: 100px;
		width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        // margin-right: 2em;
	}

    //my code

    .slide-1{
        // background-image: url('../imgs/products/partners/caesarstoneus.png');
        // background-size:contain;
        // background-repeat: no-repeat;
        z-index: 3;
    }




}